
body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

/* Header with background image */

header{
background-image:url("C:/Users/Akhil/Desktop/project pictures/smv logo.jpeg");
background-size:cover;
background-position:center;
color:rgb(8, 6, 6);
text-align:center;
padding:80px;
min-height:200px;
}

/* Navigation */

nav{
background:#ff6600;
}

nav ul{
list-style:none;
display:flex;
justify-content:center;
padding:10px;
margin:0;
}

nav ul li{
margin:0 0px;
}

nav ul li a{
 text-align:left;
color:white;
text-decoration:none;
font-size:18px;
padding:8px 15px;
transition:0.3s;
}

nav ul li a:hover{
background:white;
color:#ff6600;
border-radius:5px;
}

/* Hero Section */

.hero{
background:#333;
color:white;
text-align:center;
padding:80px;
}

/* Sections */

section{
padding:40px;
text-align:center;
}

/* Course Cards */

.course-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.course{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

/* Gallery */

.gallery img{
width:250px;
margin:10px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

/* Form */

form{
max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
}

input,select,textarea{
padding:10px;
margin:8px 0;
}

/* Submit Button */

.submit-btn{
background:#ff6600;
color:white;
border:none;
padding:12px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.submit-btn:hover{
background:#002147;
}

/* Footer */

footer{
background:#002147;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}
